extends layout

block content
  h1= title
  script.
  - let results =results
  div(class='container-fluid')
    div(class='row')
      each i,index in results
        div(class= "col-sm-2" onclick =`buy(${index})`) Cake Flavour: #{i.cake_flavour}, <br> Cake weight: #{i.weight}, <br> Cake Cost :#{i.cake_cost}
        script.
          function buy(index)
          {
            alert(`You purchased Item ${index + 1}`)
          }