extends layout

block content
  h1= title
  script.
  - let items = results
  - let createPage = `dispatch(\"/cakes/create")`
  button.btn( class="btn-primary ml-1", onclick= createPage) Create
  div(class='container-fluid')
    div(class='row m-1')
      each i,index in items
          - let destination = `dispatch(\"/cakes/update?id=${i._id}\")`
          - let detailPage = `dispatch(\"/cakes/detail?id=${i._id}\")`
          - let deletePage = `dispatch(\"/cakes/delete?id=${i._id}\")`
             div(class= "col-sm-2" onclick =`buy(${index})`) Cake Flavour: #{i.cake_flavour}, <br> Cake weight: #{i.weight}, <br> Cake Cost :#{i.cake_cost}<br>
             button.btn( class="btn-primary ml-1", onclick= destination) Update <br>
             button.btn( class="btn-secondary ml-1", onclick= detailPage) Details <br>
             button.btn( class="btn-warning ml-1", onclick= deletePage) Delete 
             script.
                function buy(index)
                {
                  alert(`You purchased Item ${index + 1}`)
                }
                function dispatch(path){
                  window.location.href=path
                }